@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    @foreach (var country in Model)
    {
        <p>@country.Country_name</p>
    }
</div>


