html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tttt

.text-center {
    text-align: center;
}

.menu {
    text-align: right;
}

    .menu ul {
        list-style-type: none;
    }

    .menu li {
        display: inline-block;
        padding: 10px;
    }

    .menu a {
        text-decoration: none;
        color: black;
    }

        .menu a:hover {
            color: blue;
        }

/*ttttt*/


.block {
    width: 350px;
    height: 450px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-title {
    font-size: 20px;
    font-weight: bold;
}

.block-description {
    font-size: 16px;
}

.block-price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}


/*.card {
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}


header img {
    margin: 0 auto;
    display: block;
}

img {
    width: 92%;
}
*/

/*.container22 {*/
    /* max-width: 1100px;
    min-width: 645px;
    margin: 0 auto;
    background-image: url("/images/14.png");
    background-repeat: no-repeat;
    background-size: 92%;
    background-position: top;
    background-position-x: center;
    background-repeat: no-repeat;*/

    /*max-width: 1200px;
    min-width: 645px;*/
    /*margin: 0 auto;*/
    /*background-image: url("/images/14.png");*/
    /* background-repeat: no-repeat;*/
    /*background-size: 92%;
    background-position: top;*/
    /* background-position-x: center;*/
    /*background-repeat: no-repeat;*/
   /* background-size: 8000px 700px;*/
     /*margin: 0 auto;
}*/


.u-align-center {
    text-align: center;
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-image.u-logo {
    display: table;
    white-space: nowrap;
}

    .u-image.u-logo img {
        display: block;
    }

.u-shading,
.u-overlap.u-overlap-contrast .u-header {
    color: #ffffff;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-text-default {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}

.u-valign-middle {
    justify-content: center;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 991px) .u-sheet {
    width: var(--theme-sheet-width-md) !important;
}

.u-sheet {
    position: relative;
    margin: 0 auto;
}

.u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    grid-template-rows: repeat(2, auto);
}

.u-list:not(.u-repeater), .u-blog:not(.u-repeater), .u-products:not(.u-repeater) {
    display: flex;
    flex-direction: column;
}

    .u-list:not(.u-repeater) .u-repeater, .u-blog:not(.u-repeater) .u-repeater, .u-products:not(.u-repeater) .u-repeater {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

@media (max-width: 991px) .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
    min-height: 855px;
}

@media (max-width: 1199px) .u-section-2 .u-repeater-1 {
    min-height: 480px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
    min-height: 583px;
    grid-gap: 31px 31px;
}

.u-repeater {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
}


.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}

.u-white, .u-body.u-white, section.u-white:before, .u-white > .u-audio-main-layout-wrapper:before, .u-white > .u-container-layout:before, .u-white > .u-inner-container-layout:before, .u-white.u-sidenav:before, .u-container-layout.u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}

.u-radius-20 {
    --border-radius: 20px;
}

[class*="-radius-"], [class*="-radius-"]:before, [class*="-radius-"] .u-background-effect, [class*="-radius-"]:not(.u-hover-box) > .u-container-layout {
    border-radius: var(--border-top-left-radius, var(--border-radius, 0)) var(--border-top-right-radius, var(--border-radius, 0)) var(--border-bottom-right-radius, var(--border-radius, 0)) var(--border-bottom-left-radius, var(--border-radius, 0)) !important;
}


element.style {
}

.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}

.u-white, .u-body.u-white, section.u-white:before, .u-white > .u-audio-main-layout-wrapper:before, .u-white > .u-container-layout:before, .u-white > .u-inner-container-layout:before, .u-white.u-sidenav:before, .u-container-layout.u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}

.u-radius-20 {
    --border-radius: 20px;
}

[class*="-radius-"], [class*="-radius-"]:before, [class*="-radius-"] .u-background-effect, [class*="-radius-"]:not(.u-hover-box) > .u-container-layout {
    border-radius: var(--border-top-left-radius, var(--border-radius, 0)) var(--border-top-right-radius, var(--border-radius, 0)) var(--border-bottom-right-radius, var(--border-radius, 0)) var(--border-bottom-left-radius, var(--border-radius, 0)) !important;
}

[class*="-radius-"] {
    --border-radius: initial;
    --border-top-left-radius: initial;
    --border-top-right-radius: initial;
    --border-bottom-right-radius: initial;
    --border-bottom-left-radius: initial;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 26px;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}

div {
    display: block;
}


[class*="-radius-"] {
    --border-radius: initial;
    --border-top-left-radius: initial;
    --border-top-right-radius: initial;
    --border-bottom-right-radius: initial;
    --border-bottom-left-radius: initial;
}

.u-repeater-item {
    display: flex;
    position: relative;
}

.u-expanded-width:not(.custom-expanded) {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}

.u-expanded-width {
    width: 100% !important;
}

p.u-large-text {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 453px;
    margin: 30px auto 60px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.u-grey-5, .u-body.u-grey-5, section.u-grey-5:before, .u-grey-5 > .u-audio-main-layout-wrapper:before, .u-grey-5 > .u-container-layout:before, .u-grey-5 > .u-inner-container-layout:before, .u-grey-5.u-sidenav:before, .u-container-layout.u-container-layout.u-grey-5:before, .u-table-alt-grey-5 tr:nth-child(even) {
    color: #111111;
    background-color: #f2f2f2;
}

body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;

}

.u-section-2 {
    background-image: none;
}

    .u-section-2 .u-sheet-1 {
        min-height: 951px;
    }

/*p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}*/

/*p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}*/

   /* p:not(.u-text-variant) {
        font-size: 1.125rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.6;
    }
*/


@media (max-width: 1199px) .u-section-1 .u-sheet-1 {
    min-height: 308px;
}

.u-valign-middle {
    justify-content: center;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1199px) .u-sheet {
    width: var(--theme-sheet-width-lg) !important;
}

.u-sheet {
    position: relative;
    margin: 0 auto;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("/images/14.png");
    background-position: 50% 50%;
}

body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}


.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

section.u-image:not(.u-hover-box), .u-sheet.u-image:not(.u-hover-box), .u-group.u-image:not(.u-hover-box), .u-layout-cell.u-image:not(.u-hover-box) {
    overflow: visible;
}


.row.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  /*  .container22 .container {
        margin-left: 89px;
        margin-right: 89px;
        max-width: 1262px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

        .container22 .container .container33 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 144px;
        }
*/

/*.text-center {*/
   /* margin: 0 auto;*/
   /* display: flex;
    justify-content: center;
    align-items: center;*/
/*}*/

/*
.wrapper {
    max-width: 1440px;
    min-width: 645px;
    margin: 0 auto;
     border: 1px solid red; 
    background-image: linear-gradient(180deg, rgba(53, 66, 103, 0.00) 0%, #151824 100%), url("image/povar_1.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 1440px 962px;
}*/

/*werwryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/

