.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

    .form-control-dark:focus {
        color: #fff;
        background-color: var(--bs-dark);
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}





html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center {
    text-align: center;
}

.menu {
    text-align: right;
}

    .menu ul {
        list-style-type: none;
    }

    .menu li {
        display: inline-block;
        padding: 10px;
    }

    .menu a {
        text-decoration: none;
        color: black;
    }

        .menu a:hover {
            color: blue;
        }

/*ttttt*/


.block {
    width: 350px;
    height: 450px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-title {
    font-size: 20px;
    font-weight: bold;
}

.block-description {
    font-size: 16px;
}

.block-price {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
/*#478ac9*/

.custom-btn-blu {
    background-color: #478ac9;
    color: white; /* цвет текста на кнопке */
    /* Дополнительные стили по вашему выбору */
}

/*.card {
    width: 350px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}*/
/*.card-img-top {
    width: 100%;
    height: 100%;
}*/
/*.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: coral;
}


/*header img {
    margin: 0 auto;
    display: block;
}

img {
    width: 92%;
}
*/

.u-align-center {
    text-align: center;
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-image.u-logo {
    display: table;
    white-space: nowrap;
}

    .u-image.u-logo img {
        display: block;
    }

.u-shading,
.u-overlap.u-overlap-contrast .u-header {
    color: #ffffff;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-text-default {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}

.u-valign-middle {
    justify-content: center;
}

.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("/images/image_3.jpg");
    background-position: 50% 50%;
}


.u-sheet {
    position: relative;
    margin: 0 auto;
}

.u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    grid-template-rows: repeat(2, auto);
}

.u-list:not(.u-repeater), .u-blog:not(.u-repeater), .u-products:not(.u-repeater) {
    display: flex;
    flex-direction: column;
}

    .u-list:not(.u-repeater) .u-repeater, .u-blog:not(.u-repeater) .u-repeater, .u-products:not(.u-repeater) .u-repeater {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

.u-section-1 .u-sheet-1 {
    min-height: 374px;
}


.u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 453px;
    margin: 30px auto 60px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 308px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 322px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 177px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 111px;
    }
}

.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 453px;
    margin: 30px auto 60px;
}


h1.u-title {
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.u-subtitle {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1:not(.u-title) {
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2:not(.u-subtitle) {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

h6 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.u-large-text {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.u-small-text {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

p:not(.u-text-variant) {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

a {
    font-size: 1.125rem;
    line-height: 1.6;
}

.u-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    font-size: 1.125rem;
    font-style: italic;
    padding-left: 20px;
    border-width: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.u-metadata {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

ul:not(.u-unstyled) {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

ol {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.u-post-content {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

/*.u-input {
    border-width: 1px;
    borders: top right bottom left;
}*/


@media (max-width: 1199px) {
    h1.u-title {
        font-size: 4.5rem;
    }
}

@media (max-width: 767px) {
    h1.u-title {
        font-size: 3.75rem;
    }
}

@media (max-width: 575px) {
    h1.u-title {
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    h2.u-subtitle {
        font-size: 2.25rem;
    }
}

@media (max-width: 575px) {
    h2.u-subtitle {
        font-size: 1.875rem;
    }
}

@media (max-width: 1199px) {
    h1:not(.u-title) {
        font-size: 3.75rem;
    }
}

@media (max-width: 767px) {
    h1:not(.u-title) {
        font-size: 3rem;
    }
}

@media (max-width: 575px) {
    h1:not(.u-title) {
        font-size: 2.25rem;
    }
}

@media (max-width: 767px) {
    h2:not(.u-subtitle) {
        font-size: 2.25rem;
    }
}

@media (max-width: 575px) {
    h2:not(.u-subtitle) {
        font-size: 1.875rem;
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 1.875rem;
    }
}

@media (max-width: 575px) {
    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    p:not(.u-text-variant) {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    a {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    blockquote {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    ul:not(.u-unstyled) {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    ol {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .u-post-content {
        font-size: 1rem;
    }
}


    .u-valign-middle {
        justify-content: center;
    }

    .u-valign-middle, .u-valign-top, .u-valign-bottom {
        display: flex;
        flex-direction: column;
    }

  
    @media (min-width: 1400px) {
        .u-sheet {
            width: var(--theme-sheet-width-xxl) !important;
        }
    }

    @media (min-width: 1200px) {
        .u-xl-mode .u-sheet {
            width: var(--theme-sheet-width-xl) !important;
        }
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        .u-xxl-mode .u-sheet {
            width: var(--theme-sheet-width-xl) !important;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .u-sheet {
            width: var(--theme-sheet-width-lg) !important;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .u-sheet {
            width: var(--theme-sheet-width-md) !important;
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        .u-sheet {
            width: var(--theme-sheet-width-sm) !important;
        }
    }

    @media (max-width: 575px) {
        .u-sheet {
            width: var(--theme-sheet-width-xs) !important;
        }
    }

    .u-body {
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
    }

    .row.justify-content-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    

    /*werwryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/


    .card {
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }


    body {
        background-color: #f2f2f2; 
    }

.custom-h5 {
    
}