<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Туристичне агентствоt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tur_agen_asp_net.styles.css" asp-append-version="true" />
</head>
<body>


    <header class="u-clearfix u-header u-header" id="sec-992e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1 u-enable-responsive">    
      
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Контакты</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
      </div>
      </header>

    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1 mt-5" id="sec-e02b" data-image-width="1280" data-image-height="475">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <h1 class="u-align-center u-text u-text-default u-text-1">Туристичне агенство</h1>
                <p class="u-align-center u-large-text u-text u-text-variant u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            </div>
        </section>


    <div class="container root d-flex justify-content-center align-items-center mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Туристичне агентство - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
