<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Туристичне агентствоt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tur_agen_asp_net.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
             @*     <svg class="bi me-2" width="40" height="32" role="img" aria-label="122333"><img src="images/logo_1.png"></use></svg> *@
                <img src="images/logo_4.png" alt="Logo" width="120" height="100">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" style="max-width: 120px;">Login</button>
                <button type="button" class="btn btn-primary" style="max-width: 120px;">Sign-up</button>
            </div>
        </header>
    </div>

    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1 mt-2" id="sec-e02b" data-image-width="1280" data-image-height="475">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <h1 class="u-align-center u-text u-text-default u-text-1">Туристичне агенство</h1>
                <p class="u-align-center u-large-text u-text u-text-variant u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            </div>
        </section>

    <div class="container root d-flex justify-content-center align-items-center mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Туристичне агентство - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
